# Geral
node_modules/
.pnp/
.pnp.js

# Apps client e API
node_modules/
.next/
dist/

# Diretórios de cache e build
build/
out/
build/

# Configurações locais e arquivos temporários
*.log
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Vercel
.vercel

# Outras configurações específicas de IDE
.DS_Store
